[Unit]
Description=Refresh Palmeiras Agenda data automatically

[Timer]
OnBootSec=2min
OnUnitActiveSec=5min
AccuracySec=30s
RandomizedDelaySec=20s
Persistent=true
Unit=palmeiras-collector.service

[Install]
WantedBy=timers.target
