[Unit]
Description=Refresh Palmeiras Agenda data automatically

[Timer]
OnBootSec=2min
OnUnitActiveSec=15min
AccuracySec=1min
RandomizedDelaySec=45s
Persistent=true
Unit=palmeiras-collector.service

[Install]
WantedBy=timers.target
